.content {
    width: 350px;
    height: 90px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(209, 194, 194);
    box-shadow: 9px 7px 30px black;
}
.position {
    text-align: center;
    padding-top: 5px;
}

.font{
    font-size: 25px;
    font-weight: 800;
}